# Токен от @BotFather
BOT_TOKEN=

# Для обычного режима оставь пустым.
# Для docker-compose больших архивов эти значения будут переопределены автоматически.
BOT_API_BASE=
BOT_API_LOCAL=0

# Нужны только для Local Bot API в docker compose.
# Получаются на https://my.telegram.org -> API development tools
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# FFMPEG_BIN=
# Обычно оставь пустым - бот возьмет встроенный FFmpeg из imageio-ffmpeg
WORKDIR=./work

MAX_FRAMES=10000
MAX_UNPACKED_GB=100
MAX_CONCURRENT_RENDERS=1
SESSION_TTL_MINUTES=60

# H.264: меньше CRF = выше качество и больше файл
CRF=18
PRESET=medium
